
%pip install numpy
%pip install pandas
%pip install xlrd
%pip install openpyxl
%pip install lxml
%pip install sqlalchemy
%pip install matplotlib
%pip install seaborn
%pip install chart-studio
%pip install chart-studio
%pip install pandas-datareader
%pip install scikit-learn
%pip install pydot
%pip install graphviz
%pip install pyspark
%pip install tensorflow==1.15
